doctype html
html
	include ../globals/head

	body

		#App
			include ../globals/header
			include ../globals/footer

		include ../modules/example

		script(src="assets/js/init.js")
		script(src="assets/js/app.js")